.basket__augment {
	display: inline-flex;
	align-items: center;
	min-width: 120px;
	margin-left: -60px;
	background-color: #F5F5F7;
	border-radius: 90px;
}

.basket__less {
	position: relative;
	width: 10px;
	height: 10px;
	margin: 15px 0;
	margin-left: 60px;
	margin-right: 10px;
	cursor: pointer;
}

.basket__less::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	background-color: #2E2E33;
	opacity: 0.3;
	transform: translateY(-50%);
}

.basket__count {
	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
	margin: 10px 0;
	margin-right: 10px;
	vertical-align: top;
}

.basket__more {
	position: relative;
	width: 10px;
	height: 10px;
	margin: 15px 0;
	margin-right: 15px;
	cursor: pointer;
}

.basket__more::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 100%;
	height: 2px;
	background-color: #2E2E33;
	opacity: 0.3;
	transform: translateY(-50%);
}

.basket__more::after {
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background-color: #2E2E33;
	opacity: 0.3;
	transform: translateX(-50%);
}