.product-card__favorite {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card__favorite::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 16px;
  background-image: url(../../../public/images/icon/favorite.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-card__favorite--active {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff0000;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.product-card__favorite--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 16px;
  background-image: url(../../../public/images/icon/favorite-active.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
